
body {
    font-family: Arial, sans-serif;
    background-color:rgb(255, 255, 255);
    margin: 0;
}

header {
    background-color: rgb(99, 146, 247);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    position: relative;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.icon {
    font-size: 24px; /* Aumenta el tamaño de los íconos */
    margin-left: 20px; /* Agrega espacio entre los íconos */
}

.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 25px;
}

.product {
    width: 250px;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px; /* Ajusta según lo necesario para dar más espacio */
}

.product img {
    max-width: 100%;
    max-height: 150px; /* Controla la altura máxima de las imágenes */
    display: block;
    margin: auto;
}

.product-title {
    font-weight: bold;
    margin-bottom: 15px;
}

.product-button {
    background-color: rgb(99, 146, 247);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.footer-background {
    background-color: rgb(99, 146, 247);
    height: 118px; /* Altura del fondo azul inferior */
}
